footer {
  // background-color: black;
  border-top: 1px solid #ffffff2d;
  height: 40px;
  padding-bottom: 70px;
  @include overTab {
    height: 70px;
    padding-bottom: 40px;
  }
  
  .footer-box p {
    font-size: 20px;
  }

  .copyright p {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 10px;
    @include overTab {
      font-size: 18px;
    }
  }
}
